{% extends 'base.html.twig' %}

{% block title %}Actualité DTS !{% endblock %}

{% block body %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Industery HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
    <link href="{{ asset('css/st.css') }}" rel="stylesheet"/> 

    <link href="{{ asset('css/actualite.css') }}" rel="stylesheet"/> 
    <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet"/> 

    

   </head>
   <body>
      
                    

       
   <main>
   <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        
                    </div>
                </div>
            </div>
        
   <section class="sections about">
	   <div class="container">
		   <div class="section-header text-center">
			      <h2 class="section-title">Actualités </h2>
			   <div class="line"><span></span>
			   </div>
             </div>
         </div>
     </section>
<section class="blog_area section-padding">
        <div class="container">
            <div class="row">
            {% for actualite in actualites %}
                {{ include('actualite/actualite.html.twig') }}
            {% endfor %}

             </div>
         </div>
</section>

</main>      
  </body>
      

{% endblock %}

