<div class="single-services s-bg mb-30">
    <div class="services-icon">
        <img src="{{ asset('images/icon/1.ico') }}" alt="">
    </div>
    <div class="services-caption">
        <h4>{{ service.nomService }}</h4>
        <p>{{ service.description }}</p>
    </div>
    <div class="services-btn">
        <a href="industries.html" class="arrow-btn"><img src="{{ asset('images/icon/arrow_icon.png') }}" alt="Symfony!"/>
        </a>
    </div>
</div>