.about .about-info h3{
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 20px;
}
.about .about-info h3 span{
	color: #7cb62f;
}
.about .about-info .about-info-desc{
	line-height: 1.8;
	color: #888;
	margin-bottom: 20px;

}
.about .about-info .about-info-btn{
	background-color: #f27420;
	padding: 10px 20px;
	border:0;
	color:#fff;
	font-weight: bold;
	margin-bottom: 25px;
}
.about .about-img img{
	width: 30%;
	height: 10%;
	
}
@media (max-width:575px){
	.about .about-info h3{
		font-size: 20px;
	}
}
	@media (min-width:576px) and (max-width:768px){
.about .about-info{
		text-align: center;


}
}
/*about us*/
.section-title{
	font-size:40px;
}
.line{
	width: 150px;
	background: #ddd;
	height:3px;
	margin: auto;
}
.line span{
	display: block;
	width: 100px;
	height: 4px;
	background-color: #f27420;
	margin: auto;
	position: relative;
	bottom:0.5px;
}




