{% extends 'base.html.twig'%}

{% block body %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ABOUT||NOUS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    
		<!-- CSS here -->
    <link href="{{ asset('css/st.css') }}" rel="stylesheet"/> 


    <div class="safe-industery-area section-padd-top30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md pr-0">
                        <div class="safe-caption pt-10 mb-40">
                            <h2>DIAMANT TECHNOLOGY SOLAR </h2>
                            <p class="safe-pera-one" >La société DTS est une société SARL  a pour le financement, l’investissement, la participation, Gérer et administrer le groupe des sociétés partenaires et associes dans le but d’offrir le service de proximité qui répond aux besoins spécifiques de chaque projet et chaque clients .Développements des nouveaux projets .Implantation des nouveaux moyens : Rénovation, innovation, invention, exécution. Étude .création. Et progrès technologique à l’exploitation</p>
                            <p  class="safe-pera-two"> Autant des compétences de notre regroupement Partenariat qui apporte aujourd’hui une réponse globale a chaque demande qu’elle provient d’une établissement ou organisme ou association public ou d’une multinationale.
Dans les domaines de développement régional .les projets  solaire. Les projets agricoles. Les projets écologiques le transfert des technologies, la formation l’encadrement l’investissement l’accompagnement et assurer une continuité et la bonne réussite de chaque objectif : Liée directement ou indirectement à la technologie. L’économie. L’écologie. L’environnement .et l’énergie renouvelable et propre 
 </p>
 <p class="safe-pera-one" >La société  DTS  compte sur son avenir et son plan de développement suivi et réalisation par les leaders de l’énergie renouvelable renommé à l’échèle national et international par labié d’un partenariat de premier rond 
Continuer à accroitre son chiffre d’affaire par la concentration des efforts .l’installation un grande nombre de client dans le domaine de’ l’énergie photovoltaïque .Élargir le choix de ces produits Signature des contrats de partenarial stratégique et commercial .Signature des contra cadre avec L’ANME .Signature des contra clients  Réalisation des projets type        
</p>
<p  class="safe-pera-two"> PROSPECTIVES 	
Les prévisions d’activités et les résultats de la société DTS  sont bases sur l’évolution du marché et le plan de développement de sa stratégie commercial de façon prudente et raisonnable
OBJECTIF TRACCEE DE LA DTS 
   La DTS a décidé de  participer au programme visant la promotion de l’utilisation de l’énergie       photovoltaïque dans les projets suivant :
l’électrification de fermes agricoles et petites projet dans le milieu rurale.
Bâtiment  Solaire qui concerne l’utilisation de l’énergie solaire photovoltaïque pour couvrir partiellement les besoins en électricité des bâtiments connectés au réseau STEG.
</p>


                            <p  class="safe-pera-three"> </p>
                            <!-- btn -->
                            <a href="/equipe" class="btn">Notre Equipe</a>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6 pl-0">
                        <div class="safe-caption-right">
                            <div class="safe-img">
                                <img src="{{ asset('images/nn.jpg') }}" alt="">
                            </div>
                            
                            <!-- img TOP caption -->
                            
                            <div class="safe-alert-box">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 d-none d-sm-block">
                                        
                                        <div class="safe-alert" style="background-image:url('{{ asset('images/color_bg.png') }}')">
                                            <img src="{{ asset('images/icon/aleart_icon.png') }}" alt="">
                                            <h4>DTS OBJECTIF</h4>
                                            <p>Assurer auprès du client un rôle de conseil et d’assistance dans le choix des solutions les mieux adaptées à son contexte</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>

      

        
       
        {% endblock %}